<?xml version="1.0"?>
<config>
    <modules>
        <OMS_Shippingimport>
            <version>0.0.1</version>
            <depends>
              <Mage_Shipping/>
            </depends>
        </OMS_Shippingimport>
    </modules>
		 <frontend>
        <routers>
            <shippingimport>
                <use>standard</use>
                <args>
                    <module>OMS_Shippingimport</module>
                    <frontName>shipping</frontName>
                </args>
            </shippingimport>
        </routers>  
		
    </frontend>
	<adminhtml>
	<acl>
   <resources>
    <all>
     <title>Allow Everything</title>
    </all>
    <admin>
     <children>
      <OMS_Shippingimport>
       <title>Web Module</title>
       <sort_order>10</sort_order>
      </OMS_Shippingimport>
     </children>
    </admin>
   </resources>
  </acl>
  </adminhtml>
	<!--  <acl>
        <resources>
            <admin>
                <children>
                    <system>
                        <children>
                            <config>
                                <children>
                                    <webservice translate="title" module="shipping">
                                        <title>Shipping SOAP Web Service</title>
                                        <sort_order>100</sort_order>
                                    </webservice>
                                </children>
                            </config>
                        </children>
                    </system>
                 </children>
            </admin>
        </resources>
    </acl>-->
	<global>
    <models>
      <shippingimport>
        <class>OMS_Shippingimport_Model</class>
		    <resourceModel>shippingimport_mysql4</resourceModel>
      </shippingimport>
	    <shippingimport_mysql4>
                <class>OMS_Shippingimport_Model_Mysql4</class>
                <entities>
                    <import>
                        <table>shipping_imported_methods</table>
                    </import>
					
                </entities>
            </shippingimport_mysql4>
    </models>
    <resources>
      <shippingimport_setup>
        <setup>
         <module>OMS_Shippingimport</module>
        <class>OMS_Shippingimport_Model_Resource_Eav_Mysql4_Setup</class>
		 </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </shippingimport_setup>
    </resources>
	  <helpers>
            <Shippingimport>
                <class>OMS_Shippingimport_Helper</class>
            </Shippingimport>
        </helpers>
  </global>
  <default>
    <carriers>
      <customshiping>
        <active>1</active>
        <allowed_methods>delivery</allowed_methods>
        <methods>delivery</methods>
        <sallowspecific>0</sallowspecific>
        <model>OMS_Shippingimport_Model_Carrier_Localdelivery</model>
        <name>OMS Shipping</name>
        <title>Shipping Rates</title>
        <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
        <handling_type>F</handling_type>
      </customshiping>
    </carriers>
  </default>
</config>